@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
	url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
	url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 16px;
	height: 100%;
}

body {
	background-color: #fff;
	color: #3b4256;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	width: 100%;
	min-height: 100%;
	font-weight: normal;
	line-height: 1.5;
	position: relative;
	overflow-x: hidden;
}
h1 {
	font-size: 2.25rem;
	font-weight: bold;
}
h2 {
	font-size: 1.875rem;
	font-weight: bold;
}
h3 {
	font-size: 1.5rem;
	font-weight: bold;
}
h4 {
	font-size: 1.125rem;
	font-weight: bold;
}
p {
	font-size: 0.875rem;
}
a {
	font-size: 0.75rem;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.container {
	width: 100%;
	max-width: 1560px;
	margin: 0 auto;
}
.stop-scroll {
	height: 100%;
	overflow: hidden;
}
.showing-modal {
	overflow-y: hidden;
}
.text-link {
	color: #2196f3;
	text-decoration: underline;
	font-size: 12px;
}
.text-link:hover {
	text-decoration: none;
}
.header {
	position: fixed;
	height: 80px;
	line-height: 80px;
	top: 0;
	width: 100%;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}
.header.header_white {
	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}
.header__logo {
	float: left;
	width: 24%;
}
.logo__img {
	vertical-align: middle;
	margin-right: 13px;
}
.logo__text {
	font-weight: bold;
	font-size: 1.75rem;
	color: #fff;
	text-transform: uppercase;
	vertical-align: middle;
}
.header_white .logo__text {
	color: #000;
}
.header__nav {
	float: left;
	width: 60%;
	padding-left: 4%;
}
.header__link {
	font-size: 1.125rem;
	color: #fff;
	text-decoration: none;
	margin-right: 10%;
	position: relative;
	display: inline-block;
}
.header__link:after {
	position: absolute;
	height: 2px;
	width: 90%;
	background: none;
	content: "";
	bottom: 23px;
	transform: translateX(6%);
	left: 0;
	transition: 0.25s;
}
.header__link:hover:after {
	background-color: #2095ee;
}
.header.header_white .header__link {
	color: #3b4256;
}
.header__link:last-child {
	margin-right: 0;
}
.header__phone {
	float: right;
	color: #fff;
	font-size: 1.25rem;
	font-weight: bold;
}
.header__phone span {
	vertical-align: middle;
}
.header.header_white .header__phone {
	color: #3b4256;
}
.header__nav.mobile {
	position: fixed;
	width: 100%;
	background-color: #182330;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 130px;
}
.header__nav.mobile .header__link {
	display: table;
	margin: 0 auto;
	font-size: 16px;
	line-height: 54px;
}
.header__nav.mobile .header__link:after {
	bottom: 13px;
}
.header__nav.mobile .header__phone {
	float: none;
	text-align: center;
	width: 100%;
	margin-top: 80px;
	font-size: 16px;
}
#sect-1 {
	height: 925px;
	background-image: url(../img/bg-top.jpg);
	padding-top: 430px;
	background-size: cover;
	background-repeat: no-repeat;
}
.sect-1__left {
	width: 57%;
	float: left;
}
.heading-main {
	color: #fff;
	font-size: 3.75rem;
	line-height: 4.5rem;
	margin-bottom: 35px;
}
.heading-main span {
	color: #2196f3;
}
.heading-desc {
	font-size: 1.3125rem;
	line-height: 2.125rem;
	color: #fff;
	max-width: 510px;
}
.sect-1__right {
	width: 40%;
	float: right;
	color: #fff;
	position: relative;
}
.payment-modal {
	box-shadow: 5px 17px 40px rgba(0,0,0,.18);
	width: 100%;
	background-color: #fff;
	color: #3b4256;
	border-radius: 10px;
	padding: 60px 70px;
	position: absolute;
	top: -315px;
}
.payment-modal__title {
	font-size: 26px;
	line-height: 34px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
}
.payment-modal__fieldset-wrap {
	text-align: justify;
}
.payment-modal__fieldset-wrap:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.payment-modal__label_outer {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	font-weight: 500;
}
.payment-modal__label_outer.inactive {
	color: #97a4b1;
}
.payment-modal__label_outer.inactive:hover {
	color: #576776;
}
.payment-modal__fieldset {
	display: inline-block;
	position: relative;
	background-color: #e7eaf1;
	border-radius: 50em;
	border: 1px solid #d5d9e2;
	text-align: center;
	vertical-align: middle;
}
.payment-modal__radio {
	position: absolute;
	opacity: 0;
}
.payment-modal__label {
	position: relative;
	z-index: 1;
	display: inline-block;
	float: left;
	width: 30px;
	height: 27px;
	line-height: 2.5rem;
	cursor: pointer;
	font-size: 0.875rem;
	color: #ffffff;
}
.payment-modal__switch {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	background-color: #2196f3;
	border-radius: 50em;
	transition: transform 0.3s;
}
.payment-modal__radio:checked + label + .payment-modal__switch,
.payment-modal__radio:checked + label:nth-of-type(n) + .payment-modal__switch {
	transform: translateX(30px);
}
.payment-modal__link {
	color: #2196f3;
	font-size: 0.9375rem;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 1px dashed #2196f3;
	margin-bottom: 37px;
	display: inline-block;
	transition: 0.2s;
}
.payment-modal__link:hover {
	border-bottom: 1px dashed #fff;
}
.payment-form__field-group {
	position: relative;
	margin-bottom: 25px;
}
.payment-form__field-group_left,
.payment-form__field-group_right {
	width: 47%;
}
.payment-form__field-group_left {
	float: left;
}
.payment-form__field-group_right {
	float: right;
}
.payment-form__label {
	display: inline-block;
	position: absolute;
	color: #97a4b1;
	left: 30px;
	top: 16px;
	transition: all 150ms ease-in;
}
.payment-form__label.active {
	transform: translateY(-9px);
	font-size: 0.6875rem;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
}
.payment-form__input {
	font-size: 0.9375rem;
	color: #3b4256;
	width: 100%;
	height: 54px;
	padding: 14px 25px 0 30px;
	border: 1px solid #ced7e1;
	border-radius: 3px;
}
.payment-form__input:hover {
	border: solid 1px #b8c5d2;
}
.payment-form__input:focus {
	outline: 0;
    border-color: #b8c5d2;
}
.payment-form__field-group.error .payment-form__label,
.payment-form__field-group.error .payment-form__input {
	color: #f30d0d;
}
.payment-form__field-group.error .payment-form__input {
	border-color: #f30d0d;
}
.error-text {
	color: #f30d0d;
	margin-top: 7px;
	margin-left: 30px;
	display: none;
}
.payment-form__field-group.error .error-text {
	display: block;
}
.btn_submit {
	width: 280px;
	height: 60px;
	cursor: pointer;
	outline: 0;
	border: none;
	color: #fff;
	font-size: 0.875rem;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #2196f3, #1179cb);
}
.btn_submit:hover {
	background-image: linear-gradient(to top, #2196f3, #1179cb);
}
.btn_submit[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}
.payment-modal .btn_submit {
	margin-bottom: 25px;
	margin-top: 25px;
}
.payment-form__agree {
	font-size: 12px;
	line-height: 18px;
	color: #76889a;
	margin-left: -5px;
	margin-right: -5px;
}
.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 1rem;
	color: #97a4b1;
	width: 100%;
	height: 54px;
}
.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	padding: 14px 25px 14px 30px;
	transition: all 0.2s ease-in;
	border: 1px solid #ced7e1;
	border-radius: 3px;
}
.select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #248bc5 transparent transparent transparent;
	position: absolute;
	top: 22px;
	right: 20px;
}
.select-styled:hover {
	border-color: #b8c5d2;
}
.select-styled:active, .select-styled.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.select-styled:active:after, .select-styled.active:after {
	top: 16px;
	border-color: transparent transparent #248bc5 transparent;
}
.select-styled.selected {
	color: #3b4256;
}
.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 15px 0;
	list-style: none;
	background-color: #fff;
	border-left: 1px solid #ced7e1;
	border-right: 1px solid #ced7e1;
	border-bottom: 1px solid #ced7e1;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.select-options li {
	margin: 0;
	text-indent: 30px;
	transition: all 0.15s ease-in;
	color: #3b4256;
	font-size: 0.9375rem;
	line-height: 2.75rem;
}
.select-options li:hover {
	background: #dfe8f2;
}
.select-options li[rel="hide"] {
	display: none;
}
.payment-form__account-number-wrap {
	font-size: 0.9375rem;
	font-weight: 500;
	margin-top: 35px;
	margin-bottom: 35px;
	padding-left: 30px;
}
.payment-form__account-number {
	margin-left: 15px;
	letter-spacing: 2px;
}
.commission-text {
	display: inline-block;
	width: 80px;
	font-size: 0.8125rem;
	line-height: 1.125rem;
}
.commission-value {
	display: inline-block;
	color: #2196f3;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}
.commission-value span {
	font-size: 20px;
}

#sect-2 {
	height: 750px;
	padding-top: 220px;
}
.features__list {
	text-align: justify;
}
.features__list:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.features__item {
	display: inline-block;
	width: 32%;
	vertical-align: top;
	margin-bottom: 122px;
}
.section-title {
	font-size: 2.25rem;
	line-height: 2.75rem;
	font-weight: bold;
}
.features__item.section-title div {
	width: 70%;
}
.features__img-wrap {
	float: left;
	width: 26%;
	padding-top: 7px;
}
.features__img {
	max-width: 85px;
	max-height: 90px;
}
.features__text {
	width: 70%;
	float: left;
	text-align: left;
	padding-top: 5px;
	padding-right: 25px;
}
.features__topic {
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-weight: bold;
	margin-bottom: 17px;
	max-width: 250px;
}
.features__desc {
	font-size: 0.875rem;
	line-height: 1.375rem;
	color: #76889a;
}

#sect-3 {
	background-color: #f9fafc;
}
.sect-3__left {
	float: left;
	width: 49%;
	padding-top: 105px;
	padding-bottom: 66px;
}
.sect-3__right {
	float: right;
	width: 51%;
	position: absolute;
	left: 49%;
	height: 1070px;
}
.section-desc {
	font-size: 0.875rem;
	line-height: 1.375rem;
	color: #76889a;
}
.payment-block__title {
	margin-bottom: 25px;
}
.payment-block__desc {
	margin-bottom: 60px;
	max-width: 430px;
}
.points__list {
	list-style: none;
	width: 100%;
}
.points__item {
	margin-bottom: 13px;
	margin-right: 6px;
	border-right: 6px solid transparent;
	transition: 0.3s;
}
.points__item.active {
	border-right: 6px solid #2196f3;
}
.points__item.active .points__item-inner,
.points__item-inner:hover {
	box-shadow: 0 1px 12px rgba(0,0,0,.12);
	cursor: pointer;
}
.points__item-inner {
	width: 87%;
	padding: 20px;
	position: relative;
	border: solid 1px #e9edf2;
	background-color: #fff;
}
.point__img {
	max-width: 150px;
}
.point__data {
	float: right;
	width: 71%;
	padding-top: 12px;
	position: relative;
}
.point__title {
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.375rem;
	margin-bottom: 20px;
}
.point__address,
.point__shedule {
	width: 50%;
	padding-left: 30px;
}
.point__address {
	float: left;
}
.point__shedule {
	float: right;
}
.address__title,
.shedule__title {
	font-size: 0.8125rem;
	line-height: 1.375rem;
	color: #76889a;
	position: relative;
	margin-bottom: 12px;
}
.address__title:before,
.shedule__title:before {
	content: '';
	display: block;
	position: absolute;
	left: -28px;
	top: -3px;
	width: 23px;
	height: 26px;
	background-repeat: no-repeat;
	background-size: contain;
}
.address__title:before {
	background-image: url(../img/location.png);
}
.shedule__title:before {
	background-image: url(../img/clock.png);
}
.address__value,
.shedule__value {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.375rem;
}
.sect-3__map {
	position: absolute;
	width: 100%;
	height: 100%;
}

.footer__top {
	background-color: #2f3239;
	height: 500px;
	padding-top: 95px;
	padding-bottom: 70px;
}
.footer__left {
	float: left;
	width: 50%;
	padding-right: 18%;
}
.footer__logo-wrap {
	width: 100%;
	margin-bottom: 65px;
}
.footer__logo {
	width: 50%;
	float: left;
}
.footer__logo .logo__img {
	margin-right: 10px;
}
.footer__logo .logo__text {
	font-size: 1.625rem;
}
.footer__phone {
	width: 50%;
	float: right;
	text-align: right;
	color: #fff;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 2.625rem;
}
.footer__right {
	float: right;
	width: 49%;
}
.footer__text {
	color: #fff;
	font-size: 0.8125rem;
	line-height: 1.5rem;
	margin-bottom: 20px;
}
.footer__text a {
	font-size: 0.8125rem;
}
.footer__bottom {
	background-color: #24272e;
	height: 60px;
}

.pmnt__list {
	text-align: justify;
	margin-bottom: 5px;
}
.pmnt__list:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.pmnt__item {
	list-style-type: none;
	display: inline-block;
}
.pmnt__pic {
	vertical-align: middle;
}
.text-apply {
	color: #fff;
}
.text-apply a {
	font-size: 0.875rem;
}
.footer__bottom {
	color: #b6b6b6;
}
.footer__bottom .footer__left,
.footer__bottom .footer__right {
	position: relative;
	height: 60px;
}
.copyright,
.web-dev {
	position: absolute;
	top: 50%;
	margin-top: -7px;
}
.web-dev {
	right: 33px;
}
.web-dev:after {
	content: '';
	display: inline-block;
	background-image: url(../svg/Kislorod1.svg);
	position: absolute;
	top: -3px;
	right: -30px;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	background-size: contain;
}
.modal-overlay {
	display: none;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1050;
	background-color: rgba(87,103,118,0.8);
}
.modal {
	position: relative;
	text-align: center;
	box-sizing: border-box;
	background-color: #fff;
	margin: 130px auto;
	box-shadow: 5px 17px 40px rgba(0,0,0,.18);
	border-radius: 10px;
}
.modal__title {
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
	margin-bottom: 80px;
}
.cross-symbol {
	position: absolute;
	right: 35px;
	top: 40px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	
}
.cross-symbol:after,
.cross-symbol:before {
	position: absolute;
	left: 4px;
	content: ' ';
	height: 20px;
	width: 2px;
	background-color: #2196f3;
}
.cross-symbol:before {
	transform: rotate(45deg);
}
.cross-symbol:after {
	transform: rotate(-45deg);
}
.modal_howtopay {
	width: 81%;
	/*height: 800px;*/
	padding: 110px 120px 80px 110px;
}
.howtopay__list {
	text-align: justify;
	list-style-type: none;
}
.howtopay__list:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.howtopay__item {
	width: 27%;
	display: inline-block;
	vertical-align: top;
}
.howtopay__num {
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
	color: #2196f3;
	margin-bottom: 20px;
}
.howtopay__text {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 35px;
	text-align: left;
	min-height: 80px;
}
.howtopay__img {
	max-width: 100%;
}
.modal_privacy-policy {
	max-width: 1024px;
	padding: 120px 100px;
}
.privacy-policy {
	text-align: justify;
}
.privacy-policy__title {
	font-size: 20px;
	line-height: 28px;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 60px;
}
.privacy-policy p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 25px;
}
.header.header_404 {
	background-color: #f5f6f9;
	position: relative;
	box-shadow: none;
}
.header.header_404 .logo__text {
	color: #2f3239;
}
.header.header_404 .header__link,
.header.header_404 .header__phone {
	color: #3b4256;
}
.section-404 {
	background-color: #f5f6f9;
	height: 800px;
	position: relative;
}
.error404 {
	text-align: center;
	position: absolute;
	left: 0;
	top: 0px;
	width: 50%;
	min-width: 550px;
	right: 0;
	background-position: center;
	height: 410px;
	bottom: 0;
	background-image: url(../img/404.png);
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 140px;
}

.error404__title {
	font-size: 36px;
	margin-bottom: 30px;
	font-weight: bold;
}
.error404__text {
	font-size: 14px;
	line-height: 22px;
	color: #76889a;
	margin-bottom: 80px;
}
.error404__btn {
	width: 280px;
	height: 60px;
	cursor: pointer;
	display: block;
	line-height: 60px;
	text-decoration: none;
	outline: 0;
	border: none;
	color: #fff;
	font-size: 0.875rem;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #2196f3, #1179cb);
	margin: 0 auto;
}




@media only screen and (max-width: 1620px) {
	html {
		font-size: 14px;
	}
	.container {
		max-width: 95%;
	}
	.header__nav {
		padding-left: 0;
	}
	.sect-1__left {
		width: 55%;
	}
	.sect-1__right {
		width: 43%;
	}
	.payment-modal {
		padding: 10% 9%;
	}
	.payment-modal__title {
		margin-bottom: 1.8rem;
	}
	.payment-modal__label_outer {
		font-size: 15px;
	}
	.payment-modal__link {
		margin-bottom: 2.15rem;
		font-size: 14px;
	}
	.payment-form__label {
		top: 18px;
		font-size: 13px;
	}
	.payment-form__account-number-wrap {
		margin-bottom: 2.1rem;
		margin-top: 2.1rem;
	}
	.commission-text {
		font-size: 12px;
	}
	.btn_submit {
		font-size: 13px;
	}
	.payment-modal .btn_submit {
		margin-top: 1.5rem;
	}
	.select-styled {
		padding: 16px 25px 14px 30px;
		font-size: 13px;
	}
	#sect-2 {
		height: 630px;
		padding-top: 170px;
	}
	.features__item {
		margin-bottom: 90px;
	}
	.features__img {
		max-width: 60px;
		max-height: 62px;
	}
	.features__topic {
		margin-bottom: 10px;
	}
	.sect-3__right {
		height: 29%;
	}
	.points__item-inner {
		padding: 14px;
	}
	.point__img {
		max-width: 110px;
	}
	.point__data {
		width: 72%;
	}
	.point__title {
		margin-bottom: 15px;
	}
	.point__address,
	.point__shedule {
		padding-left: 23px;
	}
	.address__title,
	.shedule__title {
		margin-bottom: 8px;
	}
	.address__title:before,
	.shedule__title:before {
		width: 18px;
		left: -22px;
		height: 20px;
		top: 0;
	}
	.address__value,
	.shedule__value {
		font-size: 11px;
	}
	.modal_howtopay {
		width: 88%;
		padding: 80px 60px 60px 60px;
	}
	.section-404 {
		height: 650px;
	}
}
@media only screen and (max-width: 1366px) {
	html {
		font-size: 12px;
	}
	.container {
		max-width: 1140px;
	}
	.sect-1__left {
		width: 53%;
	}
	.sect-1__right {
		width: 45%;
	}
	.heading-main {
		font-size: 3rem;
		line-height: 3.8rem;
	}
	.payment-modal {
		padding: 9% 8%;
	}
}
@media only screen and (max-width: 1180px) {
	.container {
		max-width: 94%;
	}
	.header {
		height: 70px;
		line-height: 70px;
	}
	.logo__img {
		width: 25px;
		margin-right: 8px;
	}
	.logo__text {
		font-size: 1.35rem;
	}
	.header__nav {
		width: 58%;
	}
	.header__link {
		margin-right: 4%;
	}
	#sect-1 {
		height: 600px;
		padding-top: 280px;
	}
	.sect-1__left {
		width: 85%;
		float: none;
		margin: 0 auto;
	}
	.heading-main {
		font-size: 3.6rem;
		line-height: 4rem;
		margin-bottom: 20px;
	}
	.sect-1__right {
		width: 85%;
		max-width: 600px;
		float: none;
		margin: 0 auto;
	}
	.payment-modal {
		top: 70px;
		padding: 9% 10%;
	}
	.payment-modal__title {
		font-size: 24px;
		margin-bottom: 35px;
	}
	.payment-modal__fieldset-wrap {
		margin-bottom: 10px;
	}
	.payment-modal__link {
		padding-bottom: 0;
		margin-bottom: 30px;
	}
	.payment-form__field-group {
		margin-bottom: 20px;
	}
	.payment-form__input,
	.select {
		height: 44px;
	}
	.payment-form__label {
		top: 14px;
	}
	.select-styled {
		padding: 13px 25px 14px 30px;
	}
	.select-styled:after {
		top: 18px;
	}
	.btn_submit {
		height: 55px;
	}
	#sect-2 {
		height: auto;
		padding-top: 860px;
		width: 95%;
		margin: 0 auto;
	}
	.features__item {
		width: 49%;
		margin-bottom: 60px;
	}
	.features__text {
		padding-right: 0;
	}
	#sect-3 .container {
		max-width: 100%;
	}
	.section-title {
		font-size: 30px;
		line-height: 36px;
	}
	.features__topic {
		font-size: 16px;
		line-height: 22px;
	}
	.features__desc {
		font-size: 13px;
		line-height: 18px;
	}
	.sect-3__left,
	.sect-3__right {
		width: 100%;
		float: none;
	}
	.sect-3__left {
		padding-top: 50px;
	}
	.sect-3__right {
		position: relative;
		height: 450px;
		left: 0;
	}
	.payment-block {
		width: 88%;
		margin: 0 auto;
	}
	.payment-block__title {
		text-align: center;
		margin-bottom: 15px;
	}
	.payment-block__desc {
		text-align: center;
		max-width: 60%;
		font-size: 13px;
		line-height: 18px;
		margin: 0 auto 35px auto;
	}
	.points__list {
		width: 100%;
	}
	.points__item.active,
	.points__item {
		border-right: none;
	}
	.points__item-inner {
		width: 100%;
	}
	.point__img {
		max-width: 133px;
	}
	.point__title {
		font-size: 16px;
		line-height: 22px;
	}
	.point__data {
		width: 73%;
		padding-top: 10px;
	}
	.point__address,
	.point__shedule {
		padding-left: 35px;
	}
	.address__title,
	.shedule__title {
		font-size: 13px;
		line-height: 22px;
		margin-bottom: 0;
	}
	.address__title:before,
	.shedule__title:before {
		width: 24px;
		height: 22px;
		left: -34px;
	}
	.address__value,
	.shedule__value {
		font-size: 14px;
		line-height: 22px;
	}
	.footer__top {
		padding-top: 60px;
		height: auto;
	}
	.footer__top .footer__left {
		float: none;
		width: 65%;
		margin: 0 auto 42px auto;
		padding-right: 0;
	}
	.footer__top .footer__right {
		float: none;
		width: 95%;
		margin: 0 auto;
	}
	.footer__logo-wrap {
		margin-bottom: 30px;
	}
	.footer__phone {
		font-size: 18px;
	}
	.pmnt__list {
		margin-bottom: 10px;
	}
	.text-apply,
	.text-apply a {
		font-size: 13px;
		line-height: 22px;
		text-align: center;
	}
	.footer__text,
	.footer__text a {
		font-size: 12px;
		line-height: 20px;
	}
	.footer__bottom {
		height: 50px;
	}
	.footer__bottom .footer__left,
	.footer__bottom .footer__right {
		height: 50px;
	}
	.footer__bottom .footer__left {
		width: 64%;
	}
	.footer__bottom .footer__right {
		width: 35%;
	}
	.copyright,
	.web-dev {
		font-size: 11px;
	}
	.howtopay__item {
		width: 31%;
	}
}

@media only screen and (max-width: 1024px) {
	.howtopay__item {
		width: 100%;
		text-align: center;
	}
	.howtopay__num {
		float: left;
		width: 70px;
	}
	.howtopay__text {
		padding-top: 3px;
	}
	.modal_privacy-policy {
		padding: 100px 45px;
	}
}

@media only screen and (max-width: 767px) {
	.header__logo {
		width: 23%;
	}
	.header__nav {
		width: 57%;
	}
	.header__link {
		font-size: 1rem;
		margin-right: 2%;
	}
	.modal__title {
		font-size: 30px;
		line-height: 38px;
		margin-bottom: 40px;
	}
	.howtopay__num {
		font-size: 30px;
		line-height: 38px;
	}
	.howtopay__text {
		min-height: auto;
	}
	.section-404 {
		height: 550px;
	}
}

@media only screen and (max-width: 680px) {
	.header__logo {
		width: 38%;
	}
	.header__nav {
		display: none;
	}
	.header__phone {
		width: 41%;
		float: left;
	}
	.menu-link {
		width: 20px;
		height: 18px;
		top: 27px;
		float: right;
		position: relative;
	}
	.menu-link:before,
	.menu-link:after,
	.menu-link__line {
		content: '';
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background-color: #2196f3;
		transform-origin: center center;
		transition: all .3s;
	}
	.menu-link:before {
		top: 0;
	}
	.menu-link:after {
		bottom: 0;
	}
	.menu-link__line {
		top: 50%;
		transform: translateY(-50%);
	}
	.menu-link.active .menu-link__line {
		opacity: 0;
	}
	.menu-link.active:before {
		transform: translateY(-50%) rotate(-45deg);
		top: 50%;
	}
	.menu-link.active:after {
		transform: translateY(50%) rotate(45deg);
		bottom: 50%;
	}
	#sect-1 {
		height: 420px;
		padding-top: 190px;
	}
	.sect-1__left {
		width: 100%;
		text-align: center;
	}
	.heading-main {
		font-size: 28px;
		line-height: 32px;
	}
	.heading-desc {
		font-size: 14px;
		line-height: 20px;
	}
	.sect-1__right {
		position: static;
	}
	.payment-modal {
		top: 420px;
		width: 100%;
		background: none;
		padding: 38px 15px 8% 15px;
		border-radius: 0;
		left: 0;
	}
	.payment-modal__link-wrap {
		text-align: center;
	}
	.payment-form__field-group {
		margin-bottom: 15px;
	}
	.payment-form__agree {
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		padding: 0 20px;
	}
	.payment-block__desc {
		max-width: 100%;
	}
	.section-title {
		font-size: 24px;
		line-height: 30px;
	}
	.sect-3__left {
		padding-bottom: 20px;
		padding-top: 43px;
	}
	.points__item {
		padding: 22px;
	}
	.point__img {
		width: 100%;
		max-width: none;
	}
	.point__data {
		width: 100%;
		padding-top: 18px;
	}
	.point__title {
		margin-bottom: 22px;
	}
	.point__address {
		margin-bottom: 18px;
	}
	.point__address, .point__shedule {
		width: 100%;
		float: none;
	}
	.address__title:before {
		left: -31px;
	}
	.sect-3__right {
		height: 400px;
	}
	.features__item {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}
	.features__item.section-title div {
		width: 100%;
	}
	.footer__top .footer__left {
		width: 100%;
	}
	.footer__logo,
	.footer__phone {
		float: none;
		width: 100%;
		text-align: center;
	}
	.footer__logo-wrap {
		margin-bottom: 15px;
	}
	.footer__logo {
		margin-bottom: 18px;
	}
	.footer__logo .logo__img {
		width: 26px;
	}
	.footer__phone {
		font-size: 16px;
	}
	.pmnt__item {
		width: 21%;
		text-align: center;
	}

	.footer__bottom {
		height: 100px;
		text-align: center;
	}
	.footer__bottom .footer__left,
	.footer__bottom .footer__right {
		width: 100%;
		float: none;
	}
	.copyright,
	.web-dev {
		position: relative;
	}
	.footer__bottom .footer__left {
		padding-right: 0;
	}
	.footer__bottom .footer__right {
		padding-top: 16px;
	}
	.web-dev {
		display: inline-block;
		top: 0;
	}
	.modal_privacy-policy {
		padding: 80px 20px;
	}
	.modal_privacy-policy .modal__title {
		font-size: 21px;
	}
	.privacy-policy__title {
		text-align: center;
	}
	.error404 {
		width: 90%;
		min-width: auto;
		background-position: top;
		padding-top: 0;
	}
}

@media only screen and (max-width: 480px) {
	.container {
		max-width: 96%;
	}
	.header__logo {
		margin-right: 15px;
	}
	.logo__img {
		width: 20px;
		margin-right: 3px;
	}
	.logo__text,
	.header__phone {
		font-size: 14px;
	}
	.payment-modal__title {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 18px;
	}
	.payment-modal__fieldset-wrap {
		text-align: center;
	}
	.payment-modal__label_outer {
		font-size: 13px;
		line-height: 16px;
		width: 32%;
		text-align: left;
	}
	.payment-modal__fieldset {
		margin-right: 15px;
	}
	.payment-modal__link {
		font-size: 13px;
	}
	.payment-form__field-group_left,
	.payment-form__field-group_right {
		float: none;
		width: 100%;
	}
	.payment-form__field-group_center {
		width: 190px;
		margin: 0 auto;
	}
	.commission-text {
		width: auto;
		margin-right: 5px;
	}
	.commission-value {
		vertical-align: middle;
		font-size: 28px;
	}
	.btn_submit {
		height: 48px;
		font-size: 12px;
		width: 100%;
	}
	#sect-2 {
		padding-top: 930px;
	}
	.features__img {
		max-width: 50px;
		max-height: 47px;
	}
	.features__topic {
		font-size: 14px;
		line-height: 18px;
	}
	.modal_howtopay {
		width: 100%;
		padding: 80px 30px 60px 30px;
	}
	.modal__close.cross-symbol {
		top: 20px;
		right: 15px;
	}
	.modal__title {
		font-size: 26px;
		line-height: 30px;
	}
	.howtopay__num {
		width: 17%;
		font-size: 26px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.howtopay__text {
		float: right;
		width: 80%;
		padding-top: 0;
	}
}

@media only screen and (max-width: 360px) {
	.pmnt__pic {
		width: 100%;
	}
}
@media only screen and (max-width: 340px) {
	#sect-2 {
		padding-top: 940px;
	}
}