@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
	url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

html {
	overflow-x: hidden;
}

body {
	background-color: #fff;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	width: 100%;
	min-height: 100%;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	position: relative;
	overflow-x: hidden;
}

@media only screen and (max-width: 1366px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 480px) {}